body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.intro-section {
    height: 100%;
    /*padding-top: 150px;*/
    text-align: center;
    /*opacity: 0.1;*/
}

.about-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #eee;
}


.footer-section {
    height: 30%;
    padding-top: 150px;
    text-align: center;
    background: #5B5B61;
}


/*navigation*/

#nav-logo {
  width: 180px;
  height: auto;
}

.navbar-right {
  float:right;
}

#more-menu {
  height: 20px;
  width: auto;
}

/*#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
}

#sidebar-wrapper.active {
  right: 0px;
  width: 250px;
  height: 250px;
  background-color: #222222;
}

.sample-sidebar {
  color:white;
}
*/
#slideout-menu {
  position: fixed;
  top:0;
  left: -250px;
  width: 200px;
  height: 800px;
  background: black;
  z-index: 100000000000;
  color:white;
}
/************************/

h1 {
  font-size: 100px;
  color:white;
}

h6 {
  color:white;
  font-size: 18px;
}

/*About us*/
.faces-box {
  margin: 0 auto;
}

.circle-face {
  width: 280px;
  height: 280px;
  margin: 10px 15px;
  border-radius: 100%;
  border: 1px solid black;
}

.kong {
  background-color: red;
  background-size: 123%;
  background-image: url('../assets/img/kong.png');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(100%);
}
.kong:hover {
  -webkit-filter: grayscale(0%);
}
.jesse {
  background-color: red;
  background-size: 123%;
  background-image: url('../assets/img/jesse.png');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(100%);
}
.jesse:hover{
  -webkit-filter: grayscale(0%);
}
.jason {
  background-color: red;
  background-size: 123%;
  background-image: url('../assets/img/jason.png');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: grayscale(100%);
}
.jason:hover {
  -webkit-filter: grayscale(0%);
}

.circle-name {
  font-weight: lighter;
  font-size: 18px;
  margin-top: 300px;
  color:black;
}

/**/

@media(max-width:976px) {
  .circle-face {
    width: 210px;
    height: 210px;
    margin: 10px 15px;
    border-radius: 100%;
    border: 1px solid black;
  }
  .circle-name {
    font-weight: lighter;
    font-size: 18px;
    margin-top: 250px;
    color:black;
  }
}

@media(max-width:766px) {
  .about-section {
    height: 170%;
    padding-top: 50px;
    text-align: center;
    background: #eee;
  }
  .circle-face {
    width: 210px;
    height: 210px;
    margin: 10px 15px;
    margin-bottom: 50px;
    border-radius: 100%;
    border: 1px solid black;
  }
  .circle-name {
    font-weight: lighter;
    font-size: 18px;
    margin-top: 220px;
    color:black;
  }
}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}